<!doctype html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta charset="iso-8859-1"/>
    <title>Faça o Bem - Ajude Alguém - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Augusto Lumi">
    
    <link href="././public/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="././public/css/headers.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>

<main>
  <h1 class="visually-hidden">Ajude Alguém</h1>

  <div style="background-color: rgba(204,204,204,255);" >
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="bi me-2" src="././public/images/Logo.png" width="100" height="90" alt="Logo">
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <h1>Ajude Alguém - Faça o Bem</h1>
      </ul>

      <div class="col-md-3 text-end">
        <?php if(!array_key_exists('idUsuario', FacaOBem\Helpers\Session::getAll())){ ?>
        <a href="././index.php?r=Login">
          <button type="button" class="btn btn-outline-primary me-2"><i class="fa-solid fa-right-to-bracket"></i> Entrar</button>
        </a>
        <?php } else {
          echo FacaOBem\Helpers\Session::get('nome');
        ?>

        | <a href="././index.php?r=Sair">
          Sair
        </a>
        <?php }?>
      </div>
    </header>
    <p class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">Este site é parte de um projeto de apoio para pessoas em vulnerabilidade economica e social que necessitam de doações de roupas e alimentos</p>
  </div>
    
  <div class="container px-4 py-5" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <a href="././index.php?r=ConsultarInstituicoes">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
             <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Encontre um ponto de doação próximo a você</h2>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="././index.php?r=Coleta">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Quero agendar uma coleta em meu domicílio</h2>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="././index.php?r=Ponto">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Quero me tornar um ponto de doação</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</main>
</html>
